// Typography
$font-family-sans-serif: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo,
  'ＭＳ Ｐゴシック', sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.6;

// Font Colors
$color-font-white: #ffffff;
$color-font-black: #333333;
$color-font-lightgray: #969696;
$color-font-darkgray: #666666;

// Link Colors
$color-link-default: #999999;
$color-link-hover: #eeeeee;
$color-link-hover-bg: #a2a6ac;
$color-link-disable: #a0a0a0;

// admin Base Colors
$color-admin-primary: #424852;
$color-admin-secondary: #b9bdc4;

// admin Button Colors
$color-admin-button: linear-gradient(to bottom, #eaeaea, #cecece);
$color-admin-button-disabled: linear-gradient(to bottom, #fafafa, #efefef);
$color-admin-button-hover: linear-gradient(to bottom, #e5ded0, #cbc1ad);

// admin Border Colors
$color-admin-border: #eeeeee;

// admin Sidenav Mouseover Colors
$color-sidnav-hover: #dfe2e6;
