// Typography
$font-family-sans-serif: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo,
  'ＭＳ Ｐゴシック', sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.6;

// Font Colors
$color-font-white: #f0f0f0;
$color-font-black: #212121;
$color-font-silvergrey: #9c9c9c;
$color-font-steelgrey: #6d696f;
$color-font-jaunebrillant: #f4d500;
$color-font-signalred: #ce2143;

// Link Colors
$color-link-default: #999999;
$color-link-hover: #eeeeee;
$color-link-hover-bg: #a2a6ac;
$color-link-disable: #a0a0a0;

// admin Base Colors
$color-admin-primary: #424852;
$color-admin-secondary: #b9bdc4;

// admin Button Colors
$color-admin-ok-button: linear-gradient(to bottom, #82a1e4, #668ad8);
$color-admin-cancel-button: linear-gradient(to bottom, #eaeaea, #cecece);
$color-admin-disabled-button: linear-gradient(to bottom, #fafafa, #efefef);

// admin Border Colors
$color-admin-border: #eeeeee;

// admin Sidenav Mouseover Colors
$color-sidnav-hover: #dfe2e6;

// admin BG Colors
$color-admin-bg-header: #cccccc;
$color-admin-bg-modal: #f0f0f0;
